body {
    background-color: rgb(238, 115, 115);
    margin: 0px;
}
.calc-main-ctn {
    justify-content: center;
}
.numbers {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px;
    gap: 10px 10px;
}

.display {
   height: 40px;
   grid-column-start: 1;
   grid-column-end: 3;
}

.main-number-ctn {
    padding-left: 10px;

}


